:root{
    --coloracion: #030000 ;
    --espacio: 10px
    --saturacion: 10px;
}
img{
    margin-top: 50px;
    padding: var(--espacio);
    filter: var((--saturacion));
    background-color: var(--coloracion);
}
.h1{
    color: var(--coloracion);
}
body{
    background-color: crimson;
    display: grid;
    place-items: center;
    font-family: 'Courier New', Courier, monospace;
}

