:root{
    --coloracion: #030000 ;
    --espacio: 40px
    --saturacion: 20px;
}
img{
    margin-top: 50px;
    padding: var(--espacio);
    filter: var(--saturacion);
    background-color: var(--coloracion);
}
.h1{
    color: var(--coloracion);
}
body{
    background-color: crimson;
    display: grid;
    place-items: center;
}

