*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    place-items: center;
}
#clockDate{
    background-color: rgb(7, 7, 70);
    border-radius: 4px;
    width: fit-content;
    
}

#clock{
    background-color: rgb(7, 7, 70) ;
    color: aqua;
    border-radius: 4px;
    width: fit-content;
    font-size: 100px;
}